.search{
    height: 52px;
    width: 100%;
    background: saddlebrown;
    margin-top: 40px;
}
.main-top{
    height: 40px;
    width: 100%;
    background: #31c27c;
    .logo{
        width: 90px;
        height: 40px;
        line-height: 52px;
        margin-left: 15px;
        float: left;
        img{
            width: 100%;
            height: 25px;
            display: inline-block;
        }
    }
    .user{
        float: right;
        height: 25px;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.2);
        margin-top: 6.5px;
        margin-right: 15px;
        color: white;
        font-size: 12px;
        width: 70px;
        text-align: center;
        line-height: 25px;
    }
}
.show-main{
    overflow: auto;
}